body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;

    background-color: white;
    margin: 0px;

}

main {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 2.6em;
}

h3 {
    font-size: 1.5em;
}

#nav-wrapper {
    display: none;
    position: fixed;

}

.nav-bar #nav-links {
    display: flex;
    flex-direction: column;
    top: 3%;
    left: 0;
    background-color: #404040;



}


.menu-item {
    text-decoration: none;
    color: lightsteelblue;
    margin-left: 3%;
    margin-right: 3%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.section-class {
    margin-top: 5%;
}

.quality-box {
    border: 1px solid black;
    padding: 8px 16px 8px 16px;
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 8%;
}

.services-box {
    width: 275px;
    background-color: lightsteelblue;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.learn-more-button {
    background-color: lightsteelblue;
    border: none;
}

.services-thumbnail {
    max-width: 70%;
}

.services-box h3 {
    color: white;
}

.services-box h2 {
    color: yellow;
}

.services-more {
    display: none;
}

.services-more-shown {
    display: block;
    text-align: left;
}

.call {
    text-align: center;
}

.item-box {
    width: 230px;
    height: 300px;
    /*   border: 1px solid black; */
    margin: 2%;
}

.buy-img {
    max-width: 230px;
    max-height: 300px;
}

.thick-line {
    background: lightsteelblue;
    border: none;
    height: 3px
}

#hamburger {
    /* display: none; */
    position: fixed;
    top: 3%;
    left: 3%;
}

#header {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: space-between;
    width: 100%;
}

#main-name {
    display: flex;
    align-self: center;
    max-width: 100%;
}

#banner {
    max-width: 100%;
}

#logo {
    border: none;
    width: 225px;
    height: 225px;

}

/*
@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(359deg);
    }
} 
*/
#logo-image {
    max-width: 100%;
    max-height: 100%;
    /* animation: rotation 3s infinite linear;*/
}

#main-name-text {
    margin-left: 10%;
    align-self: center;
}

#about {
    background-color: lightsteelblue;
}

#about-photo {
    display: block;
    float: left;
    margin-right: 5%;
    /*transform: rotateY(120deg); */
}

#about-text {
    max-width: 67%;
}

#about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#about-qualities {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

#services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#buy-content {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

#item-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
}

#buy-text {
    justify-content: center;
    align-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.slide-viewer {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.slide-group {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.slider:first-child {
    display: block;
}

#contact {
    background-color: #404040;
    color: white;
}

#contact-container {
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (min-width: 900px) {

    nav {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.4em;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: right;
        background-color: white;
    }

    .menu-item {
        text-decoration: none;
        color: black;
        margin-left: 1%;
        margin-right: 2%;
        border: 2px solid black;
    }

    #about-text {
        margin-left: 5%;
    }

}